
// @font-face {
//   font-family: 'MyriadPro';
//   src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
// 	     url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'KAUFMANN';
  src: url('../fonts/KAUFMANN.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}
